node_modules/
public/js

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.class
/lib/
/classes/
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

.cpcache
.clj-kondo/
.lsp/
.calva/

__pycache__/
**/_l4_lp_nodejs_lib/nodejs_lib.js