{:tasks
 {:requires ([babashka.fs :as fs])

  test {:doc "Run tests"
        :task (apply clojure "-A:swipl-jpl -M:test" *command-line-args*)}

  nrepl {:doc "Start REPL"
         :task (shell "clj" "-A:swipl-jpl -M:nrepl")}

  run-main {:doc "Run main"
            :task (apply clojure
                         "-A:swipl-jpl -M -m l4-lp.main"
                         *command-line-args*)}

  uber {:doc "Build uberjar"
        :task (clojure "-A:swipl-jpl -T:build uber")}

  native-image {:doc "Builds native image"
                :depends [uber]
                :task
                (shell {:extra-env
                        {"LD_LIBRARY_PATH"
                         "/usr/lib/swipl/lib/x86_64-linux/:$LD_LIBRARY_PATH"}}

                       "native-image"
                       "-jar" "target/l4-lp-0.0.1-standalone.jar"
                       "--no-fallback"
                       "-H:ReflectionConfigurationFiles=reflect-config.json"
                       "-H:Name=l4-lp"
                             ;; https://clojurians-log.clojureverse.org/graalvm/2022-05-19
                       "--features=clj_easy.graal_build_time.InitClojureClasses"
                       "--initialize-at-build-time=com.fasterxml.jackson"
                       "target/l4_lp")}}}