{:paths ["src"]
 :deps {thheller/shadow-cljs {:mvn/version "2.28.11"}
        binaryage/devtools {:mvn/version "1.0.7"}
        com.pitch/uix.core {:mvn/version "1.1.0"}
        com.pitch/uix.dom {:mvn/version "1.1.0"}
        com.github.SWI-Prolog/packages-jpl {:mvn/version "V9.3.8"}
        instaparse/instaparse {:mvn/version "1.5.0"}
        ;; com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}
        net.cgrand/xforms {:mvn/version "0.19.6"}
        io.github.tonsky/datascript {:mvn/version "1.7.3"}
        ;; vvvvalvalval/datalog-rules {:mvn/version "0.1.0"}
        io.github.noprompt/meander {:git/sha "74de6b1f651441092cc12d1c9012ef7086033040"}
        funcool/promesa {:mvn/version "11.0.678"}
        applied-science/js-interop {:mvn/version "0.4.2"}
        tupelo/tupelo {:mvn/version "24.06.21"}
        cljs-bean/cljs-bean {:mvn/version "1.9.0"}
        lambdaisland/uri {:mvn/version "1.19.155"}
        lambdaisland/fetch {:mvn/version "1.5.83"}
        ;; metosin/malli {:mvn/version "0.16.1"}
        }

 :mvn/repos {"jitpack" {:url "https://jitpack.io"}}

 :aliases
 {:swipl-jpl
  {:jvm-opts ["-Djava.library.path=/usr/lib/swipl/lib/x86_64-linux/"]}
  
  :swipl-jpl-github-workflow-ubuntu
  {:jvm-opts ["-Djava.library.path=/usr/lib/swi-prolog/lib/x86_64-linux/"]}

  :neil {:project {:name l4-lp/l4-lp
                   :version "0.0.1"}}

  :nrepl ;; added by neil
  {:extra-deps {nrepl/nrepl {:mvn/version "1.2.0"}}
   :main-opts ["-m" "nrepl.cmdline" "--interactive" "--color"]}

  :test ;; added by neil
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  :build ;; added by neil
  {:deps {io.github.clojure/tools.build {:git/tag "v0.10.5" :git/sha "2a21b7a"}
          slipset/deps-deploy {:mvn/version "0.2.2"}}
   :ns-default build}}}